{%- from "_common/labels.yaml.j2" import job_labels, service_labels, pod_labels -%}
{%- from "_common/pod_metadata_env.yaml.j2" import pod_metadata_env -%}
{%- from "_common/resources.yaml.j2" import resources -%}
---
apiVersion: v1
kind: Service
metadata:
  name: pplx-kernels-master-{{ test_id }}
  labels:
{{- service_labels("pplx-kernels-test", "master") }}
spec:
  clusterIP: None
  selector:
    app: pplx-kernels-test
    role: master
    test-id: "{{ test_id }}"
  ports:
  - port: 29500
    name: dist
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pplx-kernels-master-{{ test_id }}
  labels:
{{- job_labels("pplx-kernels-test", "master") }}
spec:
  template:
    metadata:
      labels:
{{- pod_labels("pplx-kernels-test", "master") }}
    spec:
      restartPolicy: Never
      nodeSelector:
        kubernetes.io/hostname: "{{ server_node.name }}"
      containers:
      - name: pplx-kernels-master
        image: {{ image }}
        command: ["/bin/bash", "/opt/pplx-test/master-entrypoint.sh"]
{{- resources(rdma_qty="1", gpu_qty="1", memory_req="8Gi", memory_lim="16Gi", cpu_req="4", cpu_lim="8") }}
        env:
        - name: TEST_ID
          value: "{{ test_id }}"
{{- pod_metadata_env() }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pplx-kernels-worker-{{ test_id }}
  labels:
{{- job_labels("pplx-kernels-test", "worker") }}
spec:
  template:
    metadata:
      labels:
{{- pod_labels("pplx-kernels-test", "worker") }}
    spec:
      restartPolicy: Never
      nodeSelector:
        kubernetes.io/hostname: "{{ client_node.name }}"
      containers:
      - name: pplx-kernels-worker
        image: {{ image }}
        command: ["/bin/bash", "/opt/pplx-test/worker-entrypoint.sh"]
{{- resources(rdma_qty="1", gpu_qty="1", memory_req="8Gi", memory_lim="16Gi", cpu_req="4", cpu_lim="8") }}
        env:
        - name: TEST_ID
          value: "{{ test_id }}"
{{- pod_metadata_env() }}
