{# common ConfigMap template with conditional binaryData/data for dry-run mode #}
{%- macro configmap(name, app_label, files) %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ name }}-{{ test_id }}
  labels:
    app: {{ app_label }}
    test-id: "{{ test_id }}"
{%- if dry_run %}
data:
{%- for key, value in files | items %}
  {{ key }}: |-
    {{ value | decode_base64 | replace("\n", "\n    ") }}
{%- endfor %}
{%- else %}
binaryData:
{%- for key, value in files | items %}
  {{ key }}: {{ value }}
{%- endfor %}
{%- endif %}
{%- endmacro %}
