{# UCX/RDMA environment variables #}
{%- macro ucx_env(log_level="info") %}
        - name: UCX_LOG_LEVEL
          value: "{{ log_level }}"
        - name: UCX_ERROR_SIGNALS
          value: ""
        - name: UCX_TLS
          value: "{{ ucx_tls }}"
{%- if ucx_gid_index %}
        - name: UCX_IB_GID_INDEX
          value: "{{ ucx_gid_index }}"
{%- endif %}
{%- for key, value in extra_env_vars %}
        - name: {{ key }}
          value: "{{ value }}"
{%- endfor -%}
{%- endmacro %}
