---
apiVersion: v1
kind: Service
metadata:
  name: deepep-internode-master-{{ test_id }}
  labels:
    app: deepep-internode-test
    test-id: "{{ test_id }}"
spec:
  clusterIP: None
  selector:
    app: deepep-internode-test
    role: master
    test-id: "{{ test_id }}"
  ports:
  - port: 29500
    name: dist
---
apiVersion: batch/v1
kind: Job
metadata:
  name: deepep-internode-master-{{ test_id }}
  labels:
    app: deepep-internode-test
    role: master
    test-id: "{{ test_id }}"
spec:
  template:
    metadata:
      labels:
        app: deepep-internode-test
        role: master
        test-id: "{{ test_id }}"
      {% if sriov_network %}
      annotations:
        k8s.v1.cni.cncf.io/networks: "{{ sriov_network }}"
      {% endif %}
    spec:
      restartPolicy: Never
      nodeSelector:
        kubernetes.io/hostname: "{{ server_node.name }}"
      containers:
      - name: deepep-internode-master
        image: {{ image }}
        command: ["/bin/bash", "/opt/deepep-test/master-entrypoint.sh"]
        resources:
          requests:
            {{ rdma_resource_type }}: "1"
            nvidia.com/gpu: "{{ gpu_count }}"
            memory: 32Gi
            cpu: "16"
          limits:
            {{ rdma_resource_type }}: "1"
            nvidia.com/gpu: "{{ gpu_count }}"
            memory: 64Gi
            cpu: "32"
        env:
        - name: TEST_ID
          value: "{{ test_id }}"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
---
apiVersion: batch/v1
kind: Job
metadata:
  name: deepep-internode-worker-{{ test_id }}
  labels:
    app: deepep-internode-test
    role: worker
    test-id: "{{ test_id }}"
spec:
  template:
    metadata:
      labels:
        app: deepep-internode-test
        role: worker
        test-id: "{{ test_id }}"
      {% if sriov_network %}
      annotations:
        k8s.v1.cni.cncf.io/networks: "{{ sriov_network }}"
      {% endif %}
    spec:
      restartPolicy: Never
      nodeSelector:
        kubernetes.io/hostname: "{{ client_node.name }}"
      containers:
      - name: deepep-internode-worker
        image: {{ image }}
        command: ["/bin/bash", "/opt/deepep-test/worker-entrypoint.sh"]
        resources:
          requests:
            {{ rdma_resource_type }}: "1"
            nvidia.com/gpu: "{{ gpu_count }}"
            memory: 32Gi
            cpu: "16"
          limits:
            {{ rdma_resource_type }}: "1"
            nvidia.com/gpu: "{{ gpu_count }}"
            memory: 64Gi
            cpu: "32"
        env:
        - name: TEST_ID
          value: "{{ test_id }}"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
