[package]
name = "roce-detector"
version = "0.1.1-rc.1"
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
anyhow.workspace = true
clap.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
sideway = "0.3"
