{{- if .Values.hostIPC }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nixl-test-{{ .Values.testId }}
  namespace: {{ .Values.namespace }}
  labels:
    app: nixl-transfer-test
    test-id: {{ .Values.testId | quote }}
{{- end }}
